body
	+light
	color: $text-color

.button-o
	text-transform: uppercase
	border: 2px solid $primary
	background-color: transparent
	font-size: 12px
	padding: 17px 22px
	color: $primary
	+bold

.button
	text-transform: uppercase
	padding: 25px 45px
	background-color: $primary
	border: none
	color: #fff
	+bold
	font-size: 15px