.offer
	padding: 129px 0
	&-block
		background-color: #fff
		padding: 80px
	&__title
		text-transform: uppercase
		font-size: 25px
		+bold
		margin-bottom: 20px
	&__subtitle
		font-size: 21px
		margin-bottom: 48px
		display: block

.form
	&__row
		display: flex
		justify-content: flex-start
		align-items: center
		max-width: 900px
		margin-bottom: 25px
		&:last-child
			margin-bottom: 0
	&__label
		font-size: 17px
		display: block
		margin-bottom: 15px
	&__group
		flex-basis: 33.33%
	&__input
		width: 100%
		border-right-width: 0px
		&:last-child
			border-right-width: 1px
	&__button
		height: 80px
		width: 100%
